@import '~office-ui-fabric-react/dist/sass/References.scss';

.companyStories {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  text-align: center;
}

.title {
  display: block;
  font-size: 18px;
  font-weight: 400;
  margin: 12px 0;
}